/*basic properties*/
*,
::before,
::after {
  box-sizing: border-box;
}

/*header and nav*/
.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: whitesmoke;
}

.nav {
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__item {
  margin-bottom: 10px;
}

.nav__link,
.nav__logo {
  color: black;
  font-weight: bold;
}

.nav__logo:hover {
  color: gray;
}

.nav__link {
  transition: 0.3s;
}
.nav__link:hover {
  color: gray;
}

/*main layout*/
.l-main {
  overflow: hidden;
}

.bd-container {
  max-width: 968px;
  width: calc(100% - 3rem);
  margin-left: 5px;
  margin-right: 5px;
}

.home__container {
  row-gap: 0.5rem;
}

.home__img {
  width: 280px;
  justify-self: center;
}
.home__title {
  font-size: 30px;
  font-weight: bolder;
  margin-bottom: 10px;
}

.home__description {
  margin-bottom: 30px;
}

/*Button Properties*/
.button {
  display: inline-block;
  background-color: black;
  color: #fff;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  font-weight: bold;
  transition: 0.3s;
}

.button:hover {
  background-color: blue;
}

.button-link {
  background: none;
  padding: 0;
  color: blueviolet;
}

.button-link:hover {
  background-color: transparent;
  color: blue;
}
