/* GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

/* VARIABLES CSS */
:root {
  --header-height: 3rem;

  /* Colors */
  --first-color: #33a6f5;
  --first-color-alt: #2c5cc4;
  --first-color-send: #5cffe6;
  --title-color: #161212;
  --text-color: #5b5757;
  --text-color-light: #8f8a8a;
  --body-color: #fde5a7;
  --container-color: #fff;

  /* Font and typography */
  --body-font: "Poppins", sans-serif;
  --biggest-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;

  /* Font weight */
  --font-semi-bold: 600;
  --font-bold: 700;

  /* Margenes */
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
  /* z index */

  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 968px) {
  :root {
    --biggest-font-size: 3rem;
    --h2-font-size: 1.75rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
  }
}

/* BASE */
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* Variables Dark theme */
body.dark-theme {
  --first-color-send: #161212;
  --title-color: #f3f1f1;
  --text-color: #d1c7c8;
  --body-color: #251d1e;
  --container-color: #302728;
}

/* Button Dark/Light */
.change-theme {
  position: absolute;
  right: 1.5rem;
  top: 2.2rem;
  display: flex;
  color: var(--title-color);
  font-size: 2rem;
  cursor: pointer;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  line-height: 1.6;
}

h1,
h2,
h3,
ul,
p {
  margin: 0;
}

h1,
h2,
h3 {
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.img__change {
  max-width: 130% !important;
  height: auto !important;
}

/* CLASS CSS */
.section {
  padding: 7rem 0 2rem;
}

.section-title,
.section-title-center {
  font-size: var(--h2-font-size);
  color: var(--title-color);
  text-align: center;
  margin-bottom: var(--mb-3);
}

/* LAYOUT */
.l-main {
  overflow: hidden;
}

.bd-container {
  max-width: 968px;
  width: calc(100% - 3rem);
  margin-left: var(--mb-3);
  margin-right: var(--mb-3);
}

.bd-grid {
  display: grid;
  gap: 1.5rem;
}

.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
}

/* NAV */
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .nav__menu {
    position: fixed;
    top: -100%;
    left: 0;
    right: 0;
    width: 90%;
    margin: 0 auto;
    padding: 2.5rem 0 0;
    text-align: center;
    background-color: var(--body-color);
    transition: 0.4s;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    border-radius: 2rem;
    z-index: var(--z-fixed);
  }
}

.nav__item {
  margin-bottom: var(--mb-3);
}

.nav__link,
.nav__logo,
.nav__toggle {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

.nav__logo:hover {
  color: var(--first-color);
}

.nav__link {
  transition: 0.3s;
}

.nav__link:hover {
  color: var(--first-color);
}

.nav__toggle {
  font-size: 1.3rem;
  cursor: pointer;
}

/* Show menu */
.show-menu {
  top: calc(var(--header-height) + 1rem);
}

/* Active menu link */
.active-link {
  position: relative;
}

.active-link::before {
  content: "";
  position: absolute;
  bottom: -0.75rem;
  left: 45%;
  width: 5px;
  height: 5px;
  background-color: var(--title-color);
  border-radius: 50%;
}

/* Change background header */
.scroll-header {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

/* Scroll top */
.scrolltop {
  position: fixed;
  right: 1rem;
  bottom: -20%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3rem;
  background: rgba(41, 123, 247, 0.315);
  border-radius: 0.4rem;
  z-index: var(--z-tooltip);
  transition: 0.4s;
  visibility: hidden;
}

.scrolltop:hover {
  background-color: var(--first-color);
}

.scrolltop__icon {
  font-size: 1.5rem;
  color: var(--body-color);
}

.show-scroll {
  visibility: visible;
  bottom: 1.5rem;
}

/* HOME */
.home__container {
  row-gap: 0.5rem;
}

.home__img {
  width: 280px;
  justify-self: center;
}

.home__title {
  font-size: var(--biggest-font-size);
  font-weight: var(--font-bold);
  margin-bottom: var(--mb-2);
}

.home__description {
  margin-bottom: var(--mb-3);
}

/* BUTTONS */
.button {
  display: inline-block;
  background-color: var(--first-color);
  color: #fff;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  font-weight: var(--font-semi-bold);
  transition: 0.3s;
}

.button:hover {
  background-color: var(--first-color-alt);
}

.button-link {
  background: none;
  padding: 0;
  color: var(--first-color);
}

.button-link:hover {
  background-color: transparent;
  color: var(--first-color-alt);
}

/* SHARE */
.share__data {
  text-align: center;
}

.share__description {
  margin-bottom: var(--mb-2);
}

.share__img {
  width: 280px;
  justify-self: center;
}

/* TEAM PROFILES */
.profiles__container {
  grid-template-columns: repeat(2, 1fr);
  padding-bottom: 2rem;
}

.profiles__content {
  position: relative;
  display: grid;
  padding: 0.25rem 0.75rem 0.75rem;
  background-color: var(--container-color);
  box-shadow: 0 2px 6px rgba(65, 11, 16, 0.15);
  border-radius: 1rem;
}

.profiles__content:hover {
  box-shadow: 0 3px 12px rgba(65, 11, 16, 0.15);
}

.profiles__img {
  width: 110px;
  justify-self: center;
  margin-bottom: 0.25rem;
}

.profiles__title,
.profiles__category {
  text-align: center;
}

.profiles__title {
  font-size: var(--normal-font-size);
}

.profiles__category {
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-1);
  color: var(--text-color-light);
}

.profiles__preci {
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}

.profiles__button {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  font-size: 1.25rem;
  padding: 0.5rem 0.625rem;
  border-radius: 1rem 0 1rem 0;
}

/* FOOTER */
.footer__container {
  margin: 0;
  padding: 0;
  /*grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));*/
  width: 100%;
  /* box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.1); */
}

.footer__copy {
  text-align: center;
  font-size: var(--small-font-size);
  color: var(--text-color-light);
  margin-top: 4rem;
}

/* MEDIA QUERIES */

/* For full-screen images on small screens */
@media screen and (max-width: 359px) {
  .home__img {
    width: 100%;
  }

  .share__img {
    width: 100%;
  }
}

@media screen and (min-width: 576px) {
  .home__container,
  .share__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .home__container {
    padding: 5rem 0 0;
    margin-bottom: 20px;
  }

  .home__img {
    order: 1;
  }

  .section-title-center,
  .share__data {
    text-align: initial;
  }

  .home__img {
    width: 100%;
  }

  .share__img {
    width: 100%;
  }

  .share__img {
    order: -1;
  }
}

@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }

  .section {
    padding-top: 5rem;
  }

  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }

  .nav__list {
    display: flex;
    align-items: center;
  }

  .nav__item {
    margin-left: var(--mb-5);
    margin-bottom: 0;
  }

  .nav__toggle {
    display: none;
  }

  .change-theme {
    position: initial;
    margin-left: var(--mb-4);
  }

  .home__container {
    padding: 7rem 2rem 0;
  }

  .share__container {
    padding: 0 2rem;
  }

  .profiles__container {
    grid-template-columns: repeat(3, 224px);
    justify-content: center;
  }

  .profiles__content {
    padding: 0.5rem 1.5rem 1.5rem;
  }

  .profiles__img {
    width: 200px;
    margin-top: var(--mb-1);
    margin-bottom: var(--mb-1);
    border-radius: 10%;
  }

  .profiles__title,
  .profiles__category {
    text-align: initial;
  }

  .profiles__button {
    padding: 0.75rem;
  }
}

@media screen and (min-width: 968px) {
  .bd-container {
    margin-left: auto;
    margin-right: auto;
  }

  .home__img {
    width: 469px;
  }

  .double__img-container {
    display: flex;
    object-fit: cover;
  }

  .double__img-left {
    position: relative;
    top: 0;
    left: -150px;
  }

  .double__img-right {
    position: absolute;
    top: 0;
    left: 150px;
  }

  .share__img {
    width: 469px;
    object-fit: cover;
  }

  .home__container,
  .share__container {
    column-gap: 5rem;
  }

  footer {
    box-shadow: -1px 0 10px rgba(0, 0, 0, 0.2);
  }
}
